@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $rubik-font;
}

p, a, button {
    font-size: $paragraph-size;
    font-weight: $sm-weight;
    line-height: 1.6;
    color: $navy-200;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

button.active, .light {
    font-weight: $md-weight;
    color: #fff;
}

button:hover {
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: $title-size;
    font-weight: $sm-weight;
    line-height: 1.4;
    color: #fff;
}
