// Colors

// Primary

$purple: hsl(246, 80%, 60%);

$orange: hsl(15, 100%, 70%); //300 (work) 
$blue: hsl(195, 74%, 62%); // 300 (play):
$pink: hsl(348, 100%, 68%); // 400 (study)
$green: hsl(145, 58%, 55%); //400 (exercise)
$purple-700: hsl(264, 64%, 52%); // 700 (social):
$yellow: hsl(43, 84%, 65%); // 300 (self care):


// Neutral

$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
// $purple-500: hsl(235, 45%, 61%);
$purple-500: hsl(235, 36%, 32%);
$navy-200: hsl(236, 100%, 87%);


// family
$rubik-font: 'Rubik';

// sizes
$paragraph-size: 18px;
$title-size: 2.5rem;

// weights
$big-weight: 500;
$md-weight: 400;
$sm-weight: 300;



// Spacing
$big-spacing: 4rem;
$lg-spacing: 3rem;
$md-spacing: 2rem;
$sm-spacing: 1.5rem;
$ssm-spacing: 1rem;
$xs-spacing: 8px;
$xxs-spacing: 4px;
